* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  padding: 8px;
  margin: auto;
  border: 2px solid purple;
  box-shadow: 2px 2px;
  border-radius: 8px;
}
button:hover {
  padding-right: 15px;
  cursor: pointer;
}
h1 {
  text-align: center;
  font-size: 3rem;
}
p {
  text-align: center;
}
.instructions {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
}
 
.container {
  background: rgb(2,0,36);
  background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 47%, rgba(0,69,255,1) 100%);
  color: aliceblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  margin-top: 40px;
  margin-bottom: 40px;
}
.results {
  margin-top: 20px;
  font-size: large;
  font-weight: bolder;
  margin-bottom: 80px;
}
#answer {
  margin-top: 20px;
  font-size: large;
  font-weight: bolder;
  margin-bottom: 80px;
}