* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  padding: 24px;
  margin: auto;
  border: 2px solid purple;
  box-shadow: 2px 2px;
  border-radius: 8px;
}
button:hover {
  background-color: lightgray;
  cursor: pointer;
}
h1 {
  text-align: center;
  font-size: 3rem;
}
p {
  text-align: center;
}
.instructions {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
}
 
.container {
  background: rgb(2,0,36);
  background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 47%, rgba(0,69,255,1) 100%);
  color: aliceblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  margin-top: 40px;
  margin-bottom: 40px;
}
.results {
  margin-top: 20px;
  font-size: large;
  font-weight: bolder;
  margin-bottom: 80px;
}
#answer {
  margin-top: 20px;
  font-size: large;
  font-weight: bolder;
  margin-bottom: 80px;
}
.scoreContainer {
  text-align: center; 
  margin-bottom: 80px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
.scores {
  margin-top: 20px;
  font-size: large;
  font-weight: bolder;
  margin-bottom: 80px;
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px;
}
.gameOptions {
  text-align: center;
  margin-top: 20px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 16px;
  width: 60%; /* Could be more or less, depending on screen size */
  height: 30%;
  color: black;
  text-align: center;
  padding: 60px;
}
.modal-content p {
  font-size: large;
}
.modal button {
  margin-bottom: 20px;
  padding: 10px;
  margin-top: 10px;
}